@import url("../../node_modules/@fortawesome/fontawesome-free/css/all.css");
/*.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column 
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
 

.column {

  display: none; 

  /* Hide all elements by default */
}

/* Clear floats after rows 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */


